# === Supabase ===
NEXT_PUBLIC_SUPABASE_URL=https://yuwfrrhwfxubkqdgqbjs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1d2Zycmh3Znh1YmtxZGdxYmpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1MzU0MTMsImV4cCI6MjA5NzExMTQxM30.kjmdLOIFOIIh37vJ7Zc8obF0Pate4KvofszpeoV5bPU

# Server-side (Critical)
SUPABASE_URL=https://yuwfrrhwfxubkqdgqbjs.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1d2Zycmh3Znh1YmtxZGdxYmpzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTUzNTQxMywiZXhwIjoyMDk3MTExNDEzfQ.OoJfHo17HPQbVvRBOy5p8qhaD90qS1kQ_kyq6WZAwD4

# === Stripe ===
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=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
STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=whsec_RamNh7JHLiZl0csxo30HLCz6xS2ebaOs

# === Email ===
RESEND_API_KEY=re_g3dd2V9J_EJUKTHqrGMdQMYF58X3Uzika
BOOKING_FROM_EMAIL=Phalo Transportation <bookings@phalotrans.com>

# === Other ===
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyDEm7tyh7Pnyg0b4sYbyIerS2O-NK_SPwk
SITE_URL=https://vipodyssey.com